---
import { getCollection } from "astro:content";
import ImageGallery from "../../components/ImageGallery.svelte";
import FullscreenGallery from "../../components/FullscreenGallery.svelte"
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const locations = await getCollection("locations");
  return locations.map((location) => ({
    params: {
      id: location.id,
    },
    props: {
      location,
    },
  }));
}

const { location } = Astro.props;
const { title, address, mainImage, available, description, images } =
  location.data;
---

<MainLayout>
  <div class="container mx-auto">
    <h1 class="text-center text-2xl sm:text-3xl mt-10 mb-5">
      {address.streetName}
    </h1>
    <h3 class="text-center text-xl mb-10">
      {address.postalCode}, {address.city}
    </h3>
    <div class="max-w-2xl mx-auto">
      <p class="mb-10 text-center lg:text-lg px-2 md:px-0">
        {description && description}
      </p>
      {
        !available && (
          <div class="relative">
            <Image class="" src={mainImage} alt={"a building in Copenhagen"} />
            {!available && (
              <div class="absolute top-0 left-0 h-full w-full bg-[rgba(0,0,0,0.6)] flex items-center justify-center">
                <p class="text-center text-white font-semibold text-2xl border-white border-2 px-4 py-2">
                  Udlejet
                </p>
              </div>
            )}
          </div>
        )
      }
      <div class="hidden md:block">
        {images && available && <ImageGallery client:visible images={images} />}
        
      </div>
      <!-- {available && <a href={`/location/${location.id}/images`} />} -->
       <!-- mobile gallery -->
      <div class="md:hidden">
        <div
          class="whitespace-nowrap overflow-auto min-h-fit snap-x snap-mandatory snap-center py-4"
        >
          {
            images?.map((image) => (
              <div class=" inline-block h-full px-4">
                <Image
                  class="inline-block h-full object-contain snap-center snap-mandatory snap-x"
                  src={image}
                  alt={"testing"}
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</MainLayout>
